#ignore extra library folders
tweepy/
twint/

#ignore venv folder
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#ignore tokens.py file (auth tokens)
tokens.py

#ignore
__pycache__/

#ignore for practice files
practice.csv

#ignore
chromedriver.exe
